body {
    font-family: 'Acme';
    text-align: center;
    font-size: 30px;
}
h1 {
    font-size: 110px;
    font-family: 'Frijole';
    margin-top: 1px;
}
.firstPage {
    display: none;
    height: 460px;
    width: 845px;
}

#generateWord {
    margin-left: 10px;
}

.letter-border {
    position: relative;
    float: left;
    margin: 0 5px;
    border-top: white;
    border-left: white;
    border-right: white;
    border-bottom: thick solid black;
    width: 50px;
    height: 100px;
}

.letter-holder span{
    font-size: 36px;
    position: absolute;
    bottom: 0;
    right: 13px;
}

#alphabet {
    width: 600px;
    font-size: 40px;
    margin-top: 175px;
}

.letter {
    display: inline;
    padding: 10px;
    float: left;
}

.letter:hover {
    background: black;
    color: white;
}
